{% extends 'base.html' %}

{% block title %} 
    Tasks List
{% endblock %}

{% block head %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

    <div id = "header">
        <div class="flexrow-container">
            <div class="standard-theme theme-selector"></div>
            <div class="light-theme theme-selector"></div>
            <div class="darker-theme theme-selector"></div>
        </div>
    </div>
    
    <div class="tasksArea">

        <div id="form">
            <h1 id="title">LIST TASKS TO DO<div id="border"></div></h1>
            <form method="POST">
                {% csrf_token %}
                <input class="todo-input" type="text" placeholder="Add a task.">
                <button class="todo-btn" type="submit">Add</button>
            </form>
        </div>

        <div>
            <p>
                <span id="datetime">
                    {{ time }}
                </span>
            </p>
        </div>
    
        <div id="tasksList">
            <!-- (Show tasks list here) -->
            <div class="todo">
                <p>Items added to this list:</p>
                
                {% for task in tasks%}
                    {{ task }}
                {% endfor %}

                <button>Delete</button>
                <button>Check</button>
            </div>
        </div>
    </div>
    
{% endblock %}